.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
 top: 0;
 position: absolute;
}

.Prompt {
  display: flex;
  flex-direction: row;
  gap: .5em;
  justify-content: center;
}

.Images {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: .5em
}

.Footer {
  padding-top: 3em;
  bottom: 0;
  font-size: 10px;
  position: absolute;
}