.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: flex-start;
}

.Header {
 top: 0;
}

.Body {
  justify-items: center;
}

.Prompt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5ch;
}

.PromptBox {
  width: 100%;
  max-width: 600px;
}

.Images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1ch;
}

.Image {
  width: 100%;
  height: auto;
}

.ImageSetContainer {
  margin-top: 2ch;
}

.ImageSetContainerLabel {
  width: 50%;
  margin:auto;
  border: 1px black solid;
  align-items: center;
  text-align: left;
}

.ImageSetContainerLabelChevron {
  float: right;
}

.Footer {
  margin-top: auto;
  padding-top: 3em;
  position: relative;
  bottom: 0;
}

/*https://codepen.io/stepher/pen/yLOaEOP*/
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	position: relative;
	top: 0.25em;
	transform: rotate(-45deg);
	width: 0.45em;
  left: -.25em
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}